* {
    box-sizing: border-box;
}
body {
    font-family: "Manrope";
    background-image: url(ulicons/lastbcg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
}
.site-header {
    background-color: #13131399;
    border-bottom: 1px dotted #3B494B66;
    height: 73px;
    margin-bottom: 22px;
}
.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 64px;
}
.site-nav__brand {
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
}
.site-nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}
.logo img{
    display: flex;
    height: 40px;
    width: 40px;
}
.logo__title {
    font-size: 32px;
    font-weight: bold;
    color: #DBFCFF;
    margin: 0;
}
.site-nav__link {
    text-decoration: none;
    color: #DBFCFF;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}
.site-nav__link span {
    display: inline-block;
    transition: transform 0.3s ease;
}
.site-nav__link:hover {
    border-bottom-color: #DBFCFF; 
}
.site-nav__link:hover span{
    transform: translateY(-4px);
}
.site-nav__actions {
    display: flex;
    align-items: center;
}
.site-nav__search {
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    background: transparent;
    margin-right: 8px;
    cursor: pointer;
}
.site-nav__search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.site-nav__subscribe {
    width: 172px;
    height: 33px;
    padding: 0;
    line-height: 33px;
    text-align: center;
    border: 0;
    border-radius: 12px;
    background-color: #00F0FF;
    color: #006970;
    font-size: 16px;
    font-weight: bold;
    font-family: "Manrope";
    text-align: center;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.project__info {
    display: flex;
    margin-bottom: 64px;
}
.project__content {
    margin-right: 24px;
}
.section-label {
    display: flex;
    align-items: center;
}
.section-label__text {
    display: inline-block;
    background-color: #1a222a; 
    padding: 3px 10px;
    font-size: 12px;
    font-weight: normal;
    color: #DBFCFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 12px;
}
.section-label__line {
    display: inline-block;
    height: 1px;
    width: 48px;
    background-color: #DBFCFF;
    border: 1px;
}
.project__title {
    font-size: 64px;
    margin: 24px 0 32px;
    line-height: 1;
    max-width: 350px;
    font-weight: bold;
    color: #DBFCFF;
}
.project__title-accent {
    font-weight: normal;
    color: #e5e2e1;
}
.project__text {
    font-size: 18px;
    font-weight: normal;
    color: #E5E2E1;
}
.project__features-title {
    font-size: 32px;
    font-weight: bold;
    color: #DBFCFF;
    margin: 0;
    margin-bottom: 24px;
}
.project__features {
    background-color: #13131599;
    border: 1px solid rgba(219, 252, 255, 0.5);
    border-radius: 10px;
    padding: 32px;
}
.project__features-list {
    display: flex;
}
.features-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 0;
    color: #E5E2E1;
    font-weight: bold;
}
.features-list:first-of-type {
    width: 282px;
    margin-right: 32px;
}
.features-list__item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.features-list:first-of-type .features-list__item:nth-child(1)::before {
    background-image: url(ulicons/lcicon.png);
}
.features-list:first-of-type .features-list__item:nth-child(2)::before {
    background-image: url(ulicons/gamepadicon.png);
    height: 14px;
}
.features-list:last-of-type .features-list__item:nth-child(1)::before {
    background-image: url(ulicons/recomendationicon.png);
}
.features-list:last-of-type .features-list__item:nth-child(2)::before {
    background-image: url(ulicons/soobshestwoicon.png);
    width: 24px;
    height: 12px;
}
.anons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px dotted #3B494B66;
    min-height: 53px;
    margin-bottom: 64px;
}
.anons__content {
    display: flex;
    align-items: flex-end;
}
.anons__title {
    margin: 0;
    margin-right: 48px;
    font-size: 14px;
    font-weight: bold;
    color: #DBFCFF;
    text-transform: uppercase;
}
.anons-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 48px;
    margin-bottom: 0;
    color: #E5E2E1;
    font-size: 12px;
}
.anons-list__item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.anons-list__item:nth-child(1)::before {
    background-image: url(ulicons/e3icon.png);
}
.anons-list__item:nth-child(2)::before {
    background-image: url(ulicons/brainicon.png);
    width: 18px;
    height: 20px;
}
.anons-list__item:nth-child(3)::before {
    background-image: url(ulicons/zapicon.png);
    width: 16px;
    height: 20px;
}
.anons-archive a {
    text-decoration: none;
    font-size: 12px;
    color: #B9CACB;
    margin-right: 8px;
}
.anons-archive a span{
    margin-right: 4px;
}
.project__visual {
    position: relative;
    border-radius: 5px;
    border: 1px solid #13131599;
}
.project___figure {
    height: 100%; 
    width: 100%;
    margin: 0;
}
.project__image {
    object-fit: cover;
    height: 100%;
    width: 466px;
    flex-shrink: 0;
    border-radius: 5px;
}
.project__caption {
    max-width: 400px;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    bottom: 32px;
    left: 32px;
}
.project__corner {
    width: 128px;
    height: 128px;
    border-right: 2px solid rgba(219, 252, 255, 0.5);
    border-bottom: 2px solid rgba(219, 252, 255, 0.5);
    border-bottom-right-radius: 10px;
    position: absolute;
    right: -16px;
    bottom: -16px;
}
.catalog__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
}
.catalog__heading {
    border-left: 4px solid #DBFCFF;
    padding-left: 24px;
    max-height: 58px
}
.catalog__title,
.catalog__subtitle {
    margin: 0;
}
.catalog__title {
    font-size: 32px;
    font-weight: bold;
    color: #e5e2e1;
}
.catalog__subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #b9cacb;
    text-transform: uppercase;
}
.filter-form__search {
    width: 256px;
    height: 38px;
    padding: 10px 17px 10px 41px;
    font-family: "Manrope";
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #201F1F66;
    color: #FFFFFF;
    border: none;
    outline: none;
    border: 1px solid #3B494B99;
}
.filter-form__selector {
    text-align: center;
    padding: 8px 16px;
    height: 38px;
    background-color: #201F1F66;
    border-radius: 5px;
    font-family: "Manrope";
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
    border: 1px solid #3B494B99;
}
.filter-form__selector option {
    background-color: #201F1F;
    border-radius: 5px;
}
.catalog {
    margin-bottom: 64px;
}
.catalog__featured-games {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 24px;
}
.game-card {
    display: flex;
    min-width: 0;
    min-height: 0;
    background-color: #131315cc;
    border-radius: 10px;
    border: 1px solid #ffffff1a;
    padding: 10px 10px;
    max-height: 134px;
}
.game-card--featured {
    background-color: #13131599;
    padding: 0;
    max-height: none;
    grid-row: 1/6;
    flex-direction: column;
}
.game-card__cover img,
.game-card--featured__cover img {
    height: 100%;
    width: 100%;
    min-height: 0;
    flex-shrink: 1;
    object-fit: contain;
}
.game-card--featured__cover img {
    display: block;
    object-fit: unset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.game-card--featured__cover {
    position: relative;
}
.game-card--featured__rating-badge {
    padding: 4px 12px;
    background-color: #DBFCFF;
    color: #00363A;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.game-card--featured__text-badge {
    padding: 3px 12px;
    display: inline-block;
    background-color: #1a222a; 
    font-size: 14px;
    font-weight: normal;
    color: #DBFCFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    bottom: 36px;
    left: 16px;
    border-radius: 2px;
}
.game-card--featured__content {
    padding: 32px;
}
.game-card--featured__title {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #E5E2E1;
}
.game-card--featured__meta {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #B9CACB;
}
.genre-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.genre-list__item {
    position: relative;
    padding-left: 20px; 
    margin-left: 8px;
    color: #B9CACB;
}
.genre-list__item::before {
    content: "•";
    color: #B9CACB; 
    position: absolute;
    left: 0;
    top: 0;
}
.game-card--featured__description {
    margin: 24px 0 32px;
    color: #B9CACB;
    font-size: 16px;
}
.game-card--featured__actions {
    display: flex;
    flex-wrap: wrap;
}
.game-card--featured__button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-card--featured__button:first-child {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 17px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 8px;
    padding: 10px 10px;
    color: #DBFCFF;
}
.game-card--featured__button:nth-child(2) span {
    font-size: 12px;
    color: #E5E2E1;
    text-transform: uppercase;
}
.game-card--featured__button:nth-child(2) {
    width: 145px;
    height: 36px;
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    gap: 15px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.game-card--featured__button:last-child span {
    font-size: 12px;
    color: #E5E2E1;
    text-transform: uppercase;
}
.game-card--featured__button:last-child {
    width: 108px;
    height: 36px;
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    gap: 11px;
    border-radius: 5px;
    cursor: pointer;
}
.game-card__cover {
    position: relative;
    margin-right: 16px;
    flex-shrink: 0;
}
.game-card__rating-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background-color: #DBFCFF;
    color: #00363A;
    font-weight: bold;
}
.game-card__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.game-card__title{
    color: #E5E2E1;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.game-card__meta {
    display: flex;
    color: #b9cacb;
    font-size: 14px;
}
.games {
    margin-bottom: 145px;
    background-color: #13131599;
    border: 1px dotted #3B494B66;
    border-radius: 10px;
}
.games__title {
    font-size: 14px;
    font-weight: bold;
    color: #b9cacb;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-left: 24px;
}
.games__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(466px, 1fr));;
    gap: 8px;
    margin-bottom: 16px;
    padding: 0 16px;

}
.game-card--catalog {
    background-color: #201F1F66;
    border: 0;
}
.games__more-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 17px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 8px;
    padding: 10px 10px;
    color: #b9cacb;
    margin-top: 25px;
}
.games__more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dotted #3B494B66;
    height: 66px;
}
.games__more .games__more-button{
    margin: 0;
}
.site-footer {
    background-color: #0E0E0E66;
    border-top: 1px dotted #3B494B66;
}
.site-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 64px;
    max-width: 1280px;
    margin: 0 auto;
}
.logo--footer span{
    font-size: 24px;
    color: #E5E2E1;
}
.site-footer__links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}
.site-footer__link {
    text-decoration: none;
    color: #B9CACB;
    text-transform: uppercase;
    font-size: 12px;
}
.button_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #DBFCFF;
    width: 150px;
    height: 36px;
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    border-radius: 5px;
}