* {
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
    font-family: "Manrope";
    background-image: url(ulicons/bcg3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.left_nav {
    display: flex;
}
.img_logo {
    display: flex;
    align-items: center;
}
.left_nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}
.img_logo img{
    display: flex;
    height: 40px;
    width: 40px;
}
.img_logo h1{
    font-size: 32px;
    font-weight: bold;
    color: #DBFCFF;
    margin: 0;
}
.menu_links {
    text-decoration: none;
    color: #DBFCFF;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: bordercolor 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}
.menu_links span {
    display: inline-block;
    transition: transform 0.3s ease;
}
.menu_links:hover {
    border-bottom-color: #DBFCFF; 
}
.menu_links:hover span{
    transform: translateY(-4px);
}
.right_nav {
    display: flex;
    align-items: center;
}
.lypa {
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    background: transparent;
    margin-right: 8px;
    cursor: pointer;
}
.lypa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.podpisatsa {
    width: 172px;
    height: 33px;
    padding: 0;
    line-height: 33px;
    text-align: center;
    border: 0;
    border-radius: 12px;
    background-color: #00F0FF;
    color: #006970;
    font-size: 16px;
    font-weight: bold;
    font-family: "Manrope";
    text-align: center;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.podpisatsa:hover {
    background-color: #006970;
    color: #00F0FF;
    opacity: 0.85;
}
.project_info {
    display: flex;
    margin-bottom: 64px;
}
.left_project_info {
    margin-right: 24px;
}
.about_project {
    display: flex;
    align-items: center;
}
.about_project_text {
    display: inline-block;
    background-color: #1a222a; 
    padding: 3px 10px;
    font-size: 12px;
    font-weight: normal;
    color: #DBFCFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 12px;
}
.about_project_line {
    display: inline-block;
    height: 1px;
    width: 48px;
    background-color: #DBFCFF;
    border: 1px;
}
.o_proekte_h2 {
    font-size: 64px;
    font-weight: normal;
    color: #e5e2e1;
    margin: 24px 0 32px;
    line-height: 1;
    max-width: 324px;
}
.Gamerank_color_span {
    font-weight: bold;
    color: #DBFCFF;
}
.project_info p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E2E1;
}
.future_opportunities h2 {
    font-size: 32px;
    font-weight: bold;
    color: #DBFCFF;
    margin: 0;
    margin-bottom: 24px;
}
.future_opportunities {
    background-color: #13131599;
    border: 1px solid rgba(219, 252, 255, 0.5);
    border-radius: 10px;
    padding: 32px;
}
.future_opportunities_wrapper {
    display: flex;
}
.ul_custom_list1 {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 0;
    color: #E5E2E1;
    font-weight: bold;
    width: 282px;
    margin-right: 32px;
}

.ul_custom_list1 li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.ul_custom_list1 li:nth-child(1)::before {
    background-image: url(ulicons/lcicon.png);
}
.ul_custom_list1 li:nth-child(2)::before {
    background-image: url(ulicons/gamepadicon.png);
    height: 14px;
}
.ul_custom_list2 {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 0;
    color: #E5E2E1;
    font-weight: bold;
}

.ul_custom_list2 li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.ul_custom_list2 li:nth-child(1)::before {
    background-image: url(ulicons/recomendationicon.png);
}
.ul_custom_list2 li:nth-child(2)::before {
    background-image: url(ulicons/soobshestwoicon.png);
    width: 24px;
    height: 12px;
}
.right_project_info {
    position: relative;
    height: 645px;
    width: 466px;
    padding: 32px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #13131599;
    background-image: url(dualsens.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
.right_project_info p{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}
.corner {
    width: 128px;
    height: 128px;
    border-right: 2px solid rgba(219, 252, 255, 0.5);
    border-bottom: 2px solid rgba(219, 252, 255, 0.5);
    border-bottom-right-radius: 10px;
    position: absolute;
    right: -16px;
    bottom: -16px;
}
.found_options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
}
.left_found_options {
    border-left: 4px solid #DBFCFF;
    padding-left: 24px;
}
.left_found_options h2,
.left_found_options h3 {
    margin: 0;
}
.left_found_options h2 {
    font-size: 32px;
    font-weight: bold;
    color: #e5e2e1;
}
.left_found_options h3 {
    font-size: 14px;
    font-weight: bold;
    color: #b9cacb;
    text-transform: uppercase;
}
.right_found_options input {
    width: 256px;
    height: 38px;
    padding: 10px 17px 10px 41px;
    font-family: "Manrope";
    font-size: 14;
    border-radius: 5px;
    border: none;
    background-color: #201F1F66;
    color: #FFFFFF;
    border: none;
    outline: none;
}
.right_found_options select {
    text-align: center;
    padding: 8px 16px;
    height: 38px;
    background-color: #201F1F66;
    border-radius: 5px;
    font-family: "Manrope";
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
}
.top_games {
    margin-bottom: 64px;
}
.top_games_cards {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 24px;
    height: 695px;
}
.big_card {
    background-color: #13131599;
    border-radius: 10px;
    border: 1px solid rgba(219, 252, 255, 0.5);
    grid-row: 1/6;
    flex-direction: column;
}
.top_games_cards article {
    display: flex;
    min-width: 0;
    min-height: 0;
}
.top_side_card img {
    height: 100%;
    width: 100%;
    min-height: 0;
    flex-shrink: 1;
    object-fit: contain;
}
.big_card img {
    display: block;
    object-fit: unset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bage_rait {
    padding: 4px 12px;
    background-color: #DBFCFF;
    color: #00363A;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.big_card>.top_side_card {
    position: relative;
}
.bage_text {
    padding: 3px 12px;
    display: inline-block;
    background-color: #1a222a; 
    font-size: 14px;
    font-weight: normal;
    color: #DBFCFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    bottom: 36px;
    left: 16px;
    border-radius: 2px;
}
.big_bot_side_card {
    padding: 32px;
}
.big_bot_side_card h4{
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #E5E2E1;
}
.big_bot_side_card div{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #B9CACB;
}
.design_ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.design_ul li {
    position: relative;
    padding-left: 20px; 
    margin-left: 8px;
    color: #B9CACB;
}
.design_ul li::before {
    content: "•";
    color: #B9CACB; 
    position: absolute;
    left: 0;
    top: 0;
}
.big_bot_side_card p{
    margin: 24px 0 32px;
    color: #B9CACB;
    font-size: 16px;
}
.card_buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_buttons button:first-child {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 17px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 8px;
    padding: 10px 10px;

}
.card_buttons button:nth-child(2) {
    width: 145px;
    height: 36px;
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    gap: 15px;
    margin-right: 8px;
    border-radius: 5px;
}
.card_buttons button:last-child {
    width: 108px;
    height: 36px;
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    gap: 11px;
    border-radius: 5px;
}
.small_card {
    background-color: #13131599;
    border-radius: 10px;
    border: 1px solid rgba(219, 252, 255, 0.5);
    padding: 10px 10px;
}
.small_card .top_side_card {
    position: relative;
    margin-right: 16px;
}
.small_card .top_side_card span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background-color: #DBFCFF;
    color: #00363A;
    font-weight: bold;
}
.bot_side_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bot_side_card h4{
    color: #E5E2E1;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.bot_side_card div{
    display: flex;
    color: #b9cacb;
    font-size: 14px;
}
.all_games {
    margin-bottom: 145px;
}
.all_games h2 {
    font-size: 14px;
    font-weight: bold;
    color: #b9cacb;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.all_games_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
    height: 840px;
    gap: 8px;
}
.all_games_cards article {
    display: flex;
    min-width: 0;
    min-height: 0;
}
.all_games button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 17px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    gap: 8px;
    padding: 10px 10px;
    color: #b9cacb;
    margin-top: 25px;
}
.all_games_button_wrapper {
    display: flex;
    justify-content: center;
}