* {
    box-sizing: border-box;
}
a:focus-visible,
button:focus-visible {
    outline: 2px solid #DBFCFF;
    outline-offset: 2px;
    border-radius: 2px;
}
body {
    font-family: "Manrope", sans-serif;
    background-image: url(assets/ulicons/lastbcg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 1.375rem auto 2rem;
    padding: 0 16px;
}
.site-header {
    background-color: #13131399;
    border-bottom: 1px dotted #3B494B66;
}
.site-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 16px;
}
.site-nav__brand {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    align-items: center;
}
.site-nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    padding: 0;
}
.logo__image{
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
}
.logo__title {
    font-size: 2rem;
    font-weight: bold;
    color: #DBFCFF;
    margin: 0;
}
.site-nav__link {
    text-decoration: none;
    color: #DBFCFF;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
    height: 44px;
}
.site-nav__text {
    display: inline-block;
    transition: transform 0.3s ease;
}
.site-nav__actions {
    display: flex;
    align-items: center;
}
.site-nav__search {
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    background: transparent;
    margin-right: 8px;
    cursor: pointer;
}
.site-nav__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.site-nav__subscribe {
    width: 172px;
    height: 33px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 12px;
    background-color: #00F0FF;
    color: #006970;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0.3px;
    cursor: pointer;
}
.project {
    margin: 0 auto;
}
.project__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.section-label {
    display: flex;
    align-items: center;
}
.section-label__text {
    display: inline-block;
    background-color: #1a222a; 
    padding: 0.1875rem 10px;
    font-size: 0.75rem;
    font-weight: normal;
    color: #DBFCFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 12px;
}
.section-label__line {
    display: inline-block;
    height: 1px;
    width: 48px;
    background-color: #DBFCFF;
}
.project__title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin: 1.5rem 0 2rem;
    line-height: 1;
    font-weight: bold;
    color: #DBFCFF;
}
.project__title-accent,
.project__text {
    font-weight: normal;
    color: #e5e2e1;
}
.project__text {
    font-size: 1rem;
}
.project__features-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #DBFCFF;
    margin: 0;
    margin-bottom: 1.5rem;
}
.project__features {
    background-color: #13131599;
    border: 1px solid rgba(219, 252, 255, 0.5);
    border-radius: 10px;
    padding: 2rem 32px;
}
.features-list,
.anons-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    color: #E5E2E1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.features-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.features-list__item::before,
.anons-list__item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.features-list__item--lc::before {
    background-image: url(assets/ulicons/lcicon.png);
}
.features-list__item--steam::before {
    background-image: url(assets/ulicons/gamepadicon.png);
    height: 14px;
}
.features-list__item--recommendation::before {
    background-image: url(assets/ulicons/recomendationicon.png);
}
.features-list__item--community::before {
    background-image: url(assets/ulicons/soobshestwoicon.png);
    width: 24px;
    height: 12px;
}
.project__visual {
    position: relative;
    border-radius: 5px;
    border: 1px solid #13131599;
    order: 1;
}
.project__content {
    order: 2;
}
.project__figure {
    height: 100%; 
    width: 100%;
    margin: 0;
}
.project__image {
    object-fit: cover;
    max-height: 300px;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    border-radius: 5px;
    aspect-ratio: 4/3;
}
.project__caption {
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.project__corner {
    width: 128px;
    height: 128px;
    border-right: 2px solid rgba(219, 252, 255, 0.5);
    border-bottom: 2px solid rgba(219, 252, 255, 0.5);
    border-bottom-right-radius: 10px;
    position: absolute;
    right: -16px;
    bottom: -16px;
}
.anons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dotted #3B494B66;
    min-height: 53px;
}
.anons__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.5rem;
}
.anons__title {
    margin: 0;
    margin-right: 48px;
    font-size: 0.875rem;
    font-weight: bold;
    color: #DBFCFF;
    text-transform: uppercase;
}
.anons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 0.75rem; 
}
.anons-list__item::before {
    margin-right: 8px;
}
.anons-list__item--e3::before {
    background-image: url(assets/ulicons/e3icon.png);
}
.anons-list__item--workshop::before {
    background-image: url(assets/ulicons/brainicon.png);
    width: 18px;
    height: 20px;
}
.anons-list__item--gamepass::before {
    background-image: url(assets/ulicons/zapicon.png);
    width: 16px;
    height: 20px;
}
.anons-archive__link {
    text-decoration: none;
    font-size: 0.75rem;
    color: #B9CACB;
}
.anons-archive__text{
    margin-right: 4px;
}
.catalog__toolbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 4px solid #DBFCFF;
}
.catalog__heading {
    padding-left: 24px;
    max-height: 58px;
}
.catalog__title,
.catalog__subtitle {
    margin: 0;
}
.catalog__title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #e5e2e1;
}
.catalog__subtitle {
    font-size: 0.875rem;
    font-weight: bold;
    color: #b9cacb;
    text-transform: uppercase;
}
.catalog__filter {
    padding-left: 24px;
}
.filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}
.filter-form__search, 
.filter-form__selector {
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    border-radius: 5px;
    background-color: #201F1F66;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #3B494B99;
    height: 38px;
}
.filter-form__search:focus-visible, 
.filter-form__selector:focus-visible {
    outline: 2px solid #DBFCFF;
    outline-offset: 2px;
    border-radius: 2px;
}
.filter-form__search {
    padding: 0.625rem 17px 0.625rem 41px;
    grid-column: 1/3;
}
.filter-form__selector {
    text-align: center;
    padding: 0.5rem 16px;
}
.filter-form__selector option {
    background-color: #201F1F;
    border-radius: 5px;
}
.catalog {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.catalog__featured-games {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.game-card {
    display: flex;
    gap: 1rem;
    background-color: #131315cc;
    border-radius: 10px;
    border: 1px solid #ffffff1a;
    padding: 0.625rem 10px;
    max-height: 134px;
}
.game-card--featured {
    background-color: #13131599;
    padding: 0;
    max-height: none;
    grid-row: 1/6;
    flex-direction: column;
}
.game-card__image {
    height: 100%;
    width: 100%;
    aspect-ratio: 3/4;
    min-height: 0;
    object-fit: cover;
}
.game-card--featured .game-card__image {
    display: block;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    aspect-ratio: 16/9;
}
.game-card__rating-badge {
    position: absolute;
    background-color: #DBFCFF;
    color: #00363A;
    font-weight: bold;
    border-radius: 2px;
}
.game-card--featured .game-card__rating-badge {
    padding: 0.25rem 12px;
    font-size: 1.125rem;
    top: 16px;
    right: 16px;
}
.game-card--featured .game-card__text-badge {
    padding: 0.1875rem 12px;
    display: inline-block;
    background-color: #1a222a; 
    font-size: 0.875rem;
    font-weight: normal;
    color: #DBFCFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 23px;
    left: 23px;
    border-radius: 2px;
}
.game-card--featured .game-card__content {
    padding: 1rem 16px;
}
.game-card--featured .game-card__title {
    font-size: 2rem;
    font-weight: bold;
}
.game-card--featured .game-card__meta {
    font-size: 1rem;
}
.game-card__genre::before {
    content: "•";
    margin-right: 3px;
    color: #B9CACB;
}
.game-card--featured .game-card__description {
    margin: 1rem 0;
    color: #B9CACB;
    font-size: 1rem;
}
.game-card--featured .game-card__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}
.game-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-card__button--readmore {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 17px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    gap: 0.5rem;
    padding: 0.625rem 10px;
    color: #DBFCFF;
    order: 1;
}
.game-card__button-text {
    font-size: 0.75rem;
    color: #E5E2E1;
    text-transform: uppercase;
}
.game-card__button--bookmark,
.game-card__button--video  {
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    border-radius: 5px;
    cursor: pointer;
}
.game-card__button--bookmark {
    width: 145px;
    height: 36px;
    gap: 0.9375rem;
    margin-right: 8px;
}
.game-card__button--video {
    width: 108px;
    height: 36px;
    gap: 0.6875rem;
}
.game-card__cover {
    position: relative;
    flex-shrink: 0;
}
.game-card__rating-badge {
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 0.3125rem 5px;
}
.game-card__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.game-card__title{
    color: #E5E2E1;
    font-size: 0.9375rem;
    font-weight: normal;
    margin: 0;
}
.game-card__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3125rem;
    color: #b9cacb;
    font-size: 0.875rem;
}
.games {
    background-color: #13131599;
    border: 1px dotted #3B494B66;
    border-radius: 10px;
}
.games__title {
    font-size: 1rem;
    font-weight: bold;
    color: #b9cacb;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}
.games__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 16px;
}
.game-card--catalog {
    background-color: #201F1F66;
    border: 0;
}
.games__more-button {
    all: unset;
    width: 142px;
    height: 17px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    gap: 0.5rem;
    padding: 0.625rem 10px;
    color: #b9cacb;
}
.site-footer__link--button,
.games__more-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.games__more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dotted #3B494B66;
    height: 66px;
}
.games__more .games__more-button{
    margin: 0;
}
.site-footer {
    background-color: #0E0E0E66;
    border-top: 1px dotted #3B494B66;
}
.site-footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 16px;
    margin: 0 auto;
}
.logo--footer .logo__title {
    font-size: 1.5rem;
    color: #E5E2E1;
}
.site-footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
}
.site-footer__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #B9CACB;
    text-transform: uppercase;
    font-size: 0.75rem;
    transition: color 0.3s ease, transform 0.3s ease;
    height: 44px;
}
.site-footer__link--button {
    display: flex;
    gap: 0.1875rem;
    color: #DBFCFF;
    width: 150px;
    height: 36px;
    background-color: #2A2A2A;
    border: 1px solid #3B494B;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
/*Изначально брейкпоинт был запланирован на 680 px с учётом будущих возможностей. Позже я увеличил его значение  на 40 px, чтобы объединить несколько изменений в одном медиазапросе и избежать создания отдельного брейкпоинта для этого списка. Благодаря этому форма поиска и футер корректно отображаются при увеличенной ширине экрана.*/
@media (min-width:720px) {
    .features-list {
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
    }
    .catalog__toolbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .filter-form {
        display: inline-block;

    }
    .game-card--featured .game-card__actions {
        gap: 0px;
        justify-content: flex-start;
    }
    .game-card__button--readmore {
        order: 0;
    }
    .project__text {
        font-size: 1.175rem;
    }
    .project__caption {
        font-size: 2rem;
        left: 32px;
        bottom: 32px;
    }
}
/*Этот брейкпоинт специально подобран под адаптацию навигации и футера. Раньше я пробовал его сдвинуть, но при этом пункты меню сильно сжимались и буквально «налипали» друг на друга — из‑за этого страдала читаемость и удобство клика. Поэтому оставил текущее значение: оно даёт элементам достаточно пространства и сохраняет структуру.*/
@media (min-width:927px) {
    main {
        padding: 0 32px;
        gap: 3rem;
    }
    .site-footer {
        flex-direction: row;
        padding: 1rem 32px;
    }
    .site-footer__content,
    .site-footer__list {
        flex-direction: row;
    }
    .site-footer__content {
        justify-content: space-between;

    }
    .site-footer__list {
        gap: 1.5rem;
    }
    .site-footer__link {
        display: inline-block;
        height: auto;
    }
    .site-footer__link--button  {
        height: 36px;
        display: flex;
    }
    .games__grid {
        grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
    }
        .site-nav {
        justify-content: space-between;
        padding: 1rem 32px;
    }
    .site-nav__brand,
    .site-nav__list,
    .site-nav {
        flex-direction: row;
    }
    .site-nav__list {
        margin-left: 40px;
        gap: 1.5rem;
    }
    .site-nav__link {
        display: inline-block;
        height: auto;
    }
    .catalog__featured-games {
        grid-template-columns: 7fr 5fr;
    }
    .game-card--featured .game-card__content {
        padding: 1rem 32px 2rem;
    }
    .game-card--featured .game-card__meta {
        font-size: 1.125rem;
    }
    .game-card--featured .game-card__description {
        margin: 1.5rem 0 2rem;
        color: #B9CACB;
        font-size: 1rem;
    }
    .game-card__meta {
        font-size: 1rem;
    }
    .game-card__title {
        font-size: 1.175rem;
    }
        .game-card--featured .game-card__title {
        font-size: 3rem;
    }
}
/* Верстка возвращена к десктоп-версии. Брейкпоинт выбран так, чтобы картинка в хедере встала на своё место: при меньших значениях либо текст сильно сжимается, либо картинка искажается (становится вытянутой) — оба варианта выглядят плохо. */
@media (min-width:1070px) {
    main {
        padding: 0 64px;
        gap: 4rem;
        max-width: 1920px;
    }
    .project__info {
        flex-direction: row;
        align-items: stretch;
    }
    .project__text {
        max-width: 75ch;
    }
    .project__content {
        order: 0;
        flex: 1 1 auto;
    }
    .project__visual {
        flex: 1 1 auto;
    }
    .project__image {
        max-height: none;            
        width: 100%;
        height: 100%;
    }
    .games__grid {
        grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
    }
    .anons__content,
    .anons-list {
        flex-direction: row;
        align-items: flex-end;
        flex-grow: 1;
    }
    .anons-list {
        justify-content: space-evenly;
    }
    .anons {
        align-items: flex-end;
    }
    .project__title {
        max-width: 8ch;
    }
    .project__features-title {
        font-size: 2rem;
    }
    .catalog__title {
        font-size: 2rem;
    }
    .project__caption {
        max-width: 19ch;
    }
    .site-nav {
        max-width: 1920px;
        padding: 1rem 64px;
    }
    .site-nav__brand {
        flex-grow: 1;
    }
    .site-nav__list {
        flex-grow: 1;
        max-width: 50%;
        justify-content: space-evenly;
    }
    .site-footer__content {
        max-width: 1920px;
        margin: 0 auto;
        padding: 2rem 64px;
    }
    .site-footer {
        padding: 0;
    }
    .site-footer__link--button {
        display: flex;
        height: 36px;
    }
}
/*
  Дополнительный брейкпоинт нужен для согласования ширины intro
  с остальными блоками страницы. Изначально intro имел отдельное
  ограничение max-width: 1500px, из-за чего на широких экранах
  его ширина отличалась от остальных блоков. Я решил убрать это
  отдельное ограничение и использовать тот же принцип ширины,
  что и для остальных блоков. Другого способа сохранить одинаковую
  ширину без дополнительной точки перехода я не нашёл.
*/
@media (min-width: 1350px) {
    .project {
        width: 100%;
    }
}
@media(hover:hover) {
    .site-nav__link:hover {
    border-bottom-color: #DBFCFF; 
    }
    .site-nav__link:hover .site-nav__text{
        transform: translateY(-4px);
    }
    .site-footer__link:hover {
        color: #DBFCFF;
        transform: translateY(-3px);
    }
    .site-footer__link--button:hover {
        background-color: #3A3A3A;
        transform: translateY(-2px);
    }
}